<section class="banner">
    <div class="banner-box">
      <div class="intro-text">           
          <a href="#">
              <span></span>
                <span></span>
                <span></span>
                <span></span>
              VIGO FASHION
            </a>
          <p></p>   
        <video controls="controls" width="600"
		                poster="assets/Medija/slika1.png">
		                <source src="assets/Medija/Video.mp4" />
		            </video>
      </div>
      <img src="assets/images/banner1.jpg" alt="banner" />      
    </div>
  </section>
  <h2>Hello, I'm , fashion designer and stylist from Serbia.
            Working as a costume designer and stylist for almost 20 years now,
             I was given the opportunity to carry out my ideas on many projects
              within creative industry, collaborating with many fashion designers 
              from Serbia, Croatia, Montenegro and many more.Collaborations with 
              production and fashion houses, inspired me to explore more about
               the art of fashion and its practice, since I sense it as the
                most essential way to express myself while interpreting 
                a subjective elegant style.In 2006, I decided to launch 
                my own business as a fashion entrepreneur and begin a creative
                 independence with all received experience that shaped my vision
                  of beauty and style in the concept of fashion design. 
                  Inspired by the universe, light and the spirit of love, 
                  I step in to create my divine world of beauty</h2>     
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">
      <img src="assets/images/banner-image-1.jpg" alt="banner" />
      <div class="col-38">
         <div class="section-heading">
         </div>
          <a href="#" class="button">START CREATING TODAY</a>>
        </div>
  </div>
<!--Banner Content-->
    
  
          
         





  
     
